	<div class="control-group">
		<div class="controls">
			<span class="btn btn-success fileinput-button">
				<i class="icon-plus icon-white"></i>
				<input type="file" name="file" data-url="/file-upload"> 
				<span>Add files...</span>
			</span>
			<span class="btn btn-primary fileinput-button" ng-click="upload()">
				<i class="icon-upload icon-white"></i>
				<span>Start upload</span>
			</span>
		</div>
	</div>
	<div>
		<span ng-show="!files.length">No files selected</span>
		<ul>
			<li ng-repeat="file in files">{{file.files[0].name}}</li>
		</ul>
	</div> 
	<span>{{percentage}}%</span> 
	<div class="progress progress-striped active" ng-show="percentage">
		<div class="progress-bar progress-bar-info" style="width: {{percentage}}%;"></div>
	</div>